:root {
    --active: hsl(172, 67%, 45%);
    --bkg-color: hsl(185, 41%, 84%);
    --btn-bkg: hsl(183, 100%, 15%);
    --card-bkg: hsl(0, 100%, 100%);
    --error: rgb(255, 0, 0);
    --input-bkg: hsl(189, 47%, 97%);
    --padding: 20px;
    --title-margin: 30px;
    --title-color: hsl(186, 14%, 43%);
    --label-color: hsl(184, 14%, 56%);
}


/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans serif;
}

/* generici */

body{
    background-color: var(--bkg-color);
}

header {
    height: 80px;
    
}

h1 {
    text-align: center;
    margin: var(--title-margin) 0 var(--title-margin) 0;
    color: var(--title-color);
    font-size: 24px;
}

figure {
    margin-bottom: 20px;
    position: relative;
}

img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

}

label {
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
}

input {
    width: 100%;
    text-align: right;
    background-color: var(--input-bkg);
    border: none;
    padding: 10px 0;
    font-size: 22px;
    color: var(--btn-bkg);
}

/* card */

.card {
    background-color: var(--card-bkg);
    padding: var(--padding);
    height: calc(100vh - 80px);
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

/* buttons-list */

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    margin: 10px -10px;
}

li {
    flex-basis: 50%;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* buttons */

button {
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bkg);
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--card-bkg);
    font-size: 22px;
    padding: 10px 40px;
}

.custom-btn {
    width: 100%;
    text-align: center;
    border: none;
    background-color: var(--input-bkg);
    font-size: 22px;
    padding: 10px 0 10px 30px;
    display: block;
    color: var(--title-color);
    font-weight: 700;
}




/* outcome-box */

.outcome-box {
    background-color: var(--btn-bkg);
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px 10px 10px 10px;
}

.reset-btn {
    width: 100%;
}


