:root {
    --active: hsl(172, 67%, 45%);
    --bkg-color: hsl(185, 41%, 84%);
    --btn-bkg: hsl(183, 100%, 15%);
    --card-bkg: hsl(0, 100%, 100%);
    --error: rgb(255, 0, 0);
    --input-bkg: hsl(189, 47%, 97%);
    --padding: 20px;
    --title-margin: 30px;
}


/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans serif;
}

/* generici */

body{
    background-color: var(--bkg-color);
}

h1 {
    text-align: center;
    margin: var(--title-margin) 0 var(--title-margin) 0;
    color: var(--btn-bkg);
    font-size: 24px;
}

/* card */

.card {
    background-color: var(--card-bkg);
    padding: var(--padding);
    height: 100%;
}