:root {
    --active: hsl(172, 67%, 45%);
    --bkg-color: hsl(185, 41%, 84%);
    --btn-bkg: hsl(183, 100%, 15%);
    --card-bkg: hsl(0, 100%, 100%);
    --error: rgb(255, 0, 0);
    --input-bkg: hsl(189, 47%, 97%);
    --padding: 20px;
    --title-margin: 30px;
}


/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans serif;
}

/* generici */

body{
    background-color: var(--bkg-color);
}

header {
    height: 80px;
    
}

h1 {
    text-align: center;
    margin: var(--title-margin) 0 var(--title-margin) 0;
    color: var(--btn-bkg);
    font-size: 24px;
}

figure {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    width: 100%;
    text-align: right;
    background-color: var(--input-bkg);
}

/* card */

.card {
    background-color: var(--card-bkg);
    padding: var(--padding);
    height: calc(100vh - 80px);
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

/* buttons-list */

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    flex-basis: 50%;
    text-align: center;
}

/* buttons */

button {
    border: none;
    border-radius: 10px;
    background-color: var(--btn-bkg);
    padding: 10px 40px;
    font-weight: 500;
    color: var(--card-bkg);
    font-size: 22px;
}